@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  border: none; }

body {
  font-family: 'Open Sans'; }

.container {
  max-width: 1228px;
  margin: auto; }

@media (max-width: 1200px) {
  .container {
    width: 960px; } }

@media (max-width: 768px) {
  .container {
    width: 95%; } }

@media (max-width: 567px) {
  .container {
    width: 95%; } }

@media (max-width: 340px) {
  .container {
    width: 95%; } }

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0; }

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }

.header__info, .header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.header__link {
  margin-left: 32px; }

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 32px;
  border-right: 2px solid #F0F0F0; }

.header .header__btn {
  margin-left: 16px; }

.header .city,
.header .phone,
.header .email,
.header .login,
.header .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header .cart {
  padding: 8px;
  font-weight: 600;
  font-size: 15px;
  line-height: 14px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid rgba(247, 56, 89, 0.3);
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .header .cart-text {
    color: #F73859; }
  .header .cart:hover {
    background-color: #F73859;
    fill: #ffffff;
    stroke: #ffffff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .header .cart:hover span {
      color: #ffffff; }
    .header .cart:hover path {
      fill: #ffffff;
      stroke: #ffffff; }
  .header .cart:active {
    background-color: #D8304C;
    color: #ffffff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  .header .cart .cart__icon {
    margin-right: 4px; }

.header .city-text,
.header .phone-text,
.header .email-text,
.header .login-text,
.header .cart {
  margin-left: 4px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #222222; }

@media (max-width: 768px) {
  .header-wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .logo {
    margin-left: 16px;
    padding-right: 32px;
    border-right: none; }
  .header .logo > img {
    width: 114px;
    height: 24px; }
  .header .login {
    display: inline-block; }
  .header .city-text,
  .header .phone-text,
  .header .email-text,
  .header .login-text,
  .header .cart-text {
    display: none; }
  .header .cart {
    border: none; } }

@media (max-width: 567px) {
  .header .logo > img {
    width: 114px;
    height: 24px; }
  .header__box {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .header__info {
    display: none; } }

@media (max-width: 340px) {
  .header .logo {
    padding-right: 45px;
    border: none; }
  .header .logo > img {
    width: 114px;
    height: 24px; }
  .header__info {
    display: none; }
  .header__link {
    margin: 0; }
  .header__btn {
    width: 24px;
    height: 24px; }
  .header__cart {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .login {
    margin: 0; }
  .header .login-text {
    display: none; }
  .header .cart {
    margin: 0;
    padding: 0;
    border: none; }
  .header .cart-text {
    display: none; } }

.navbar {
  background-color: #282828; }
  .navbar__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .navbar__item {
    margin-right: 32px;
    padding-top: 20px;
    padding-bottom: 20px; }
    .navbar__item:first-child {
      border-bottom: 4px solid #ffffff; }
    .navbar__item:hover {
      border-bottom: 4px solid #ffffff; }
  .navbar__link {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff; }
  .navbar__form {
    background-color: #282828;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #ffffff; }
  .navbar__input {
    padding-left: 8px;
    background-color: #282828;
    font-size: 15px;
    line-height: 20px;
    color: #7C7C7C; }
  .navbar__btn {
    padding: 12px 12px;
    background-color: #ffffff; }

@media (max-width: 768px) {
  .navbar {
    padding: 5px 0; }
    .navbar__list {
      display: none; }
    .navbar__form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 100%; }
    .navbar__input {
      width: 100%; } }

@media (max-width: 340px) {
  .navbar {
    width: 100%; }
    .navbar__list {
      display: none; }
    .navbar__form {
      width: 100%; }
    .navbar__input {
      width: 100%; } }

.slider.wrapper {
  max-height: 496px;
  overflow: hidden; }

.slider-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.slider__content {
  position: relative;
  display: inline-block;
  padding: 32px;
  background-color: #ffffff; }

.slider__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #222222; }

.slider__text {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #7C7C7C; }

.slider__oldprice {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #7C7C7C; }

.slider__newprice {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #222222; }

.slider__navigation {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  bottom: 24px;
  z-index: 1; }

.slider .swiper-slide {
  padding: 56px 0 132px; }

.slider .swiper-pagination {
  position: static;
  width: auto;
  margin: 0px 16px; }

.slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 2px solid #F0F0F0;
  opacity: 1; }
  .slider .swiper-pagination-bullet-active {
    background-color: #F73859;
    border: none; }

.slider .swiper-button-next,
.slider .swiper-button-prev {
  position: static;
  width: 40px;
  height: 40px;
  background-size: 14px 14px;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #F0F0F0;
  border-radius: 100%;
  margin: 0; }
  .slider .swiper-button-next:hover,
  .slider .swiper-button-prev:hover {
    -webkit-box-shadow: -8px 4px 8px rgba(0, 0, 0, 0.16);
            box-shadow: -8px 4px 8px rgba(0, 0, 0, 0.16); }
  .slider .swiper-button-next:active,
  .slider .swiper-button-prev:active {
    -webkit-box-shadow: -4px 2px 4px rgba(0, 0, 0, 0.24);
            box-shadow: -4px 2px 4px rgba(0, 0, 0, 0.24); }

.slider .swiper-button-next {
  background-image: url("/img/next.svg"); }

.slider .swiper-button-prev {
  background-image: url("/img/prev.svg"); }

.slider .swiper-button-next::after,
.slider .swiper-button-prev::after {
  display: none; }

@media (max-width: 1200px) {
  .slider {
    width: 100%; } }

@media (max-width: 768px) {
  .slider {
    width: 100%; } }

@media (max-width: 567px) {
  .slider {
    width: 100%; } }

@media (max-width: 340px) {
  .slider {
    display: 100%; } }

.btn {
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #F73859;
  font-weight: 600;
  font-size: 15px;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
  color: #ffffff; }
  .btn:hover {
    background-color: #F00A30; }
  .btn:active {
    background-color: #D8304C; }

.header .menu-mobile {
  display: none; }
  .header .menu-mobile .menu__open {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    top: 3px;
    background-color: #ffffff;
    border-radius: 50%; }
    .header .menu-mobile .menu__open .burger {
      position: absolute;
      top: 10px;
      width: 12px;
      height: 2px;
      background-color: #000000; }
      .header .menu-mobile .menu__open .burger::after, .header .menu-mobile .menu__open .burger::before {
        position: absolute;
        top: 50%;
        height: 50%;
        margin-top: -1px;
        height: 2px;
        background-color: #000000; }
      .header .menu-mobile .menu__open .burger::after, .header .menu-mobile .menu__open .burger::before {
        content: "";
        width: 18px; }
      .header .menu-mobile .menu__open .burger::before {
        -webkit-transform: translateY(-5px);
                transform: translateY(-5px); }
      .header .menu-mobile .menu__open .burger::after {
        -webkit-transform: translateY(5px);
                transform: translateY(5px); }
  .header .menu-mobile .menu__box {
    margin-left: 16px; }
  .header .menu-mobile .wrap-bottom {
    margin-bottom: 129px; }
  .header .menu-mobile .link-color {
    color: #222222; }
  .header .menu-mobile .text-color {
    display: inline-block;
    color: #222222; }
  .header .menu-mobile .menu__popup {
    position: fixed;
    width: 228px;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    z-index: 10;
    background: #F9F9FB; }
  .header .menu-mobile .menu__close {
    position: relative;
    display: inline-block;
    top: 16px;
    left: 16px;
    margin-bottom: 30px;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border-radius: 50%; }
    .header .menu-mobile .menu__close .burger::after, .header .menu-mobile .menu__close .burger::before {
      position: absolute;
      top: 50%;
      height: 50%;
      margin-top: -1px;
      height: 2px;
      background-color: #000000;
      content: "";
      width: 18px; }
    .header .menu-mobile .menu__close .burger::before {
      -webkit-transform: rotate(40deg);
              transform: rotate(40deg); }
    .header .menu-mobile .menu__close .burger::after {
      -webkit-transform: rotate(-40deg);
              transform: rotate(-40deg); }
  .header .menu-mobile .menu__item {
    padding: 12px 0;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0; }
  .header .menu-mobile .menu__contacts {
    margin-bottom: 24px; }
  .header .menu-mobile .contacts-margin {
    margin-bottom: 16px; }
  .header .menu-mobile .popup__active {
    top: 0;
    left: 0;
    z-index: 10;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    background: #F9F9FB; }

@media (max-width: 768px) {
  .header .menu-mobile {
    display: block; } }

.dignity {
  padding-top: 32px;
  padding-bottom: 48px; }
  .dignity__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .dignity__box {
    padding: 16px; }
  .dignity__img-shop, .dignity__img-delivery, .dignity__img-bank-card, .dignity__img-payment {
    width: 232px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 2px solid #F73859; }
  .dignity__text {
    margin-top: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.01em; }

@media (max-width: 1200px) {
  .dignity__box {
    width: 25%; }
  .dignity__img-shop, .dignity__img-delivery, .dignity__img-bank-card, .dignity__img-payment {
    width: 100%;
    margin: 0 auto; } }

@media (max-width: 768px) {
  .dignity__box {
    width: 25%; }
  .dignity__img-shop, .dignity__img-delivery, .dignity__img-bank-card, .dignity__img-payment {
    width: 100%;
    margin: 0 auto; } }

@media (max-width: 567px) {
  .dignity__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .dignity__box {
    width: 50%; }
  .dignity__img-shop, .dignity__img-delivery, .dignity__img-bank-card, .dignity__img-payment {
    width: 100%;
    margin: 0 auto; } }

.advantages {
  padding-top: 40px;
  padding-bottom: 56px;
  background: #F9F9FB; }
  .advantages .title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #222222; }
  .advantages__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #7C7C7C; }
  .advantages__wrap {
    padding: 32px 0; }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .advantages__item-text {
    margin-top: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #222222; }
  .advantages__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .advantages .box-padding {
    padding: 24px 0; }
  .advantages__desc {
    width: 50%;
    padding: 32px; }
  .advantages__caption {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #222222; }
  .advantages__img {
    width: calc( 50% - 32px); }
    .advantages__img img {
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .advantages .caption-margin {
    margin-bottom: 12px; }
  .advantages__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #7C7C7C; }
  .advantages .text-margin {
    margin-bottom: 12px; }

@media (max-width: 1200px) {
  .advantages__item {
    width: 23%; }
    .advantages__item img {
      width: 100%; } }

@media (max-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .advantages__item {
    width: 48%; }
  .advantages__box {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .advantages .box-padding {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .advantages__img {
    width: 90%; }
    .advantages__img img {
      width: 100%; }
  .advantages__desc {
    width: 100%; } }

@media (max-width: 567px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .advantages__item {
    width: 100%; } }
/*# sourceMappingURL=style.css.map */