.header
    &-wrap
        display: flex
        padding: 16px 0
    &__box
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
    &__info,
    &__cart
        display: flex
        align-items: center
    &__link
        margin-left: 32px
    .logo
        padding-right: 32px
        border-right: 2px solid $grey-light
    .header__btn
        margin-left: 16px
    .city,
    .phone,
    .email,
    .login,
    .cart
        display: flex
        align-items: center 
    .cart 
        padding: 8px
        font-weight: 600
        font-size: 15px
        line-height: 14px
        cursor: pointer
        border-radius: 4px
        background-color: $white
        border: 1px solid rgba(247, 56, 89, 0.3)
        transition: all 0.2s
        &:hover
            background-color: $red
            color: $white
            fill: $white
            stroke: $white
            transition: all 0.2s
        &:active
            background-color: $red-active
            color: $white
            stroke: $white
            transition: all 0.2s
        .cart__icon
            margin-right: 4px
            // &:hover
            //     fill: $white
            // &:active
            //     fill: $red       
    .city-text,
    .phone-text,
    .email-text,
    .login-text,
    .cart
        margin-left: 4px
        font-weight: 600
        font-size: 15px
        line-height: 20px
        color: $text-black
@media (max-width: 340px)
    .header
        .logo
            padding-right: 45px
            border: none
        &__info
            display: none
        &__link
            margin: 0
        &__btn
            width: 24px
            height: 24px
        .login
            margin: 0
        .login-text
            display: none
        .cart
            margin: 0
            padding: 0
            border: none
        .cart-text
            display: none
            
                
                    
                