.header
    .menu-mobile
        display: none
        .menu__open
            position: relative
            display: inline-block
            width: 24px
            height: 24px
            top: 3px
            background-color: $white
            border-radius: 50%
            .burger
                position: absolute
                top: 10px
                width: 12px
                height: 2px
                background-color: $black-menu-btn
                &::after,
                &::before
                    position: absolute
                    top: 50%
                    height: 50%
                    margin-top: -1px
                    height: 2px
                    background-color: $black-menu-btn
                &::after,
                &::before
                    display: block
                    content: ""
                    width: 18px
                &::before
                    transform: translateY(-5px)
                &::after
                    transform: translateY(5px)
        .menu__box
            margin-left: 16px
        .wrap-bottom
            margin-bottom: 129px
        .link-color
            color: $text-black
        .text-color
            display: inline-block
            color: $text-black
        .menu__popup
            display: none
        .menu__close
            position: relative
            display: inline-block
            top: 16px
            left: 16px
            margin-bottom: 30px
            width: 24px
            height: 24px
            background-color: $white
            border-radius: 50%
            .burger
                &::after,
                &::before
                    position: absolute
                    top: 50%
                    height: 50%
                    margin-top: -1px
                    height: 2px
                    background-color: $black-menu-btn
                    display: block
                    content: ""
                    width: 18px
                &::before
                    transform: rotate(40deg)
                &::after
                    transform: rotate(-40deg)
        .menu__item
            padding: 12px 0
            border-top: 1px solid $grey-light
            border-bottom: 1px solid $grey-light
        .open__active
            display: none
        .popup__active
            display: block
            position: fixed
            z-index: 10
            transition: all 0.5s linear
            width: 228px
            top: 0
            left: 0
            background: $gray-bg
    @media (max-width: 768px)
        .menu-mobile
            display: block