.product
    padding: 40px 0px 56px 0
    &__title
        margin-bottom: 32px
        font-weight: 700
        font-size: 31px
        line-height: 36px
        letter-spacing: -0.03em
        color: $text-black
    &__wrap
        display: flex
        margin: 0 -24px
    .card-small
        display: inline-block
        width: calc( 25% - 24px )
        margin: 0 24px
        padding: 24px
        border: 1px solid $grey-light
        border-radius: 4px
        &__image
            margin-bottom: 16px
    &__box
        display: flex
        justify-content: space-between
        margin-top: 24px
        margin-bottom: 24px
    .card-middle
        display: flex
        width: calc( 50% - 24px )
        padding: 24px
        border: 1px solid $grey-light
        border-radius: 4px
        &__image
            margin-right: 24px
        .card-middle_bottom,
        .card__desc_bottom
            margin-bottom: 16px 
    .card-big
        margin-bottom: 56px
        border: 1px solid $grey-light
        border-radius: 4px
        &__wrap
            display: flex
            justify-content: space-around
            padding: 24px
        &__inner
            display: flex
        .card-big__text
            margin-right: 51px
        .card__subtitle_big
            margin-bottom: 14px
            font-weight: 700
            font-size: 22px
            line-height: 26px
            letter-spacing: -0.01em
            color: $blue-card__subtitle
        &__list
            color: $red
            span
                font-weight: 400
                font-size: 15px
                line-height: 18px
                color: $text-gray
        &__item
            margin-left: 20px
            list-style: disc
        &__box
            display: flex
            flex-direction: column
            align-items: flex-end

@media (max-width: 1200px)
    .product
        &__wrap
            flex-wrap: wrap
            justify-content: space-between
            margin: 0
        .card-small
            display: flex
            width: 49%
            margin: 0
        .card-small--max-width1200px
            margin-bottom: 24px
        .card-middle
            width: 49%
        
@media (max-width: 768px)
    .product
        &__box
            flex-direction: column
        .card-small
            justify-content: space-around
            width: 100%
        .card-small--max-width768px
            margin-bottom: 24px
        .card-middle
            justify-content: space-around
            width: 100%
        .card-middle--bottom
            margin-bottom: 24px
        .card-big__wrap
            justify-content: normal
            flex-wrap: wrap
        .card-big__inner
            display: flex
            justify-content: space-around
        .card-big__image
            margin: 0 auto
        .card-big__text
            width: 49%

@media (max-width: 567px)
    .product
        .card-os
            flex-wrap: wrap
        .card-right
            justify-content: flex-end
            .iphone--margin
                margin: 0
            


    
        
